<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Easy Services</title>
<head>
<th:block th:include="fragments/stylesheader :: head"></th:block>
</head>
<body>
	<!-- Incluyo el fragmento header donde se encuentra el nav(menu) -->
	<th:block th:include="fragments/headerCliente :: headerCliente"></th:block>
	<section class="mosh-clients-area section_padding_100 clearfix">

		<hr style="border: 15px;" />
		<hr style="border: 2px;" />
		<div class="container">
			<h1 align="center">Servicios</h1>
		</div>
		<hr style="border: 15px;" />
		<hr style="border: 2px;" />
		<div class="container">
			<table id="example" class="table table-striped table-bordered" style="width:100%">
				<thead>
					<tr>
						<th>Codigo</th>
						<th>Empresa</th>
						<th>Servicio</th>
						<th>Solicitar</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="s : ${servicios}">
						<td th:text="${s.idservicio}"></td>
						<td th:text="${s.empresa.nombre}"></td>
						<td th:text="${s.nombre}"></td>
						<td><a th:href="${'/solicitud/new/'+s.idservicio}">Contratar</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>

	<th:block th:include="fragments/down :: down"></th:block>
</body>
</html>