<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Preguntas</title>
<th:block th:include="fragments/stylesheader :: head"></th:block>
</head>
<body>
	<!-- Incluyo el fragmento header donde se encuentra el nav(menu) -->
    <th:block th:include="fragments/headerCompania :: headerCompania"></th:block>
 	<section class="welcome_area clearfix" id="home" style="background-image: url(img/bg-img/welcome-bg.png)">
	<br/><br/><br/><br/>
	
	<div class="container" style="padding-top: 30px">
		<div class="page-header">
		<div class="container" style="padding-top: 30px">
	        <h1>Mis Solicitudes</h1>
	        </div>
                </div>                 
                  <table border="0" class="table table-hover">
				<tr>
					<th>Servicio</th>
					<th>Empleado</th>
					<th>Fecha Solicitado</th>
					<th>Fecha Aprobado</th>
					<th>Fecha Atencion</th>
                    <th>Sucursal</th> 
					<th>Descripcion</th>  
					<th>Estado</th>
					<th>Calificacion</th>         
					<th>Visualizar</th>
					<th>Modificar</th>
					<th>Eliminar</th>                         
				</tr>      
				<tr th:each="ls : ${listaSolicitudes}">
					<td th:text="${ls.plantilla.servicio.nombre}"/>
					<td th:text="${ls.plantilla.servicio.empleado.nombre}"/>
					<td th:text="${ls.solicitud.fechaSolicitado}"/>
					<td th:text="${ls.solicitud.fechaAprobado}"/>
					<td th:text="${ls.solicitud.fechaAtencion}"/>
					<td th:text="${ls.plantilla.listaSucursal.ciudad.nombre}"/>
					<td th:text="${ls.descripcion}"/>
					<td th:text="${ls.solicitud.estadoProceso.nombre}"/>
					<td th:text="${ls.solicitud.calificacion}"/>
					<td><a th:href="${'/compania/sucursales/'+ls.idlistaEmpleadoSolicitud}">Ver</a></td>
					<td><a th:href="${'/companiaSolicitudEdit/'+ls.idlistaEmpleadoSolicitud}">Editar</a></td>
					<td><a href="#" class="linkDelete" th:id="${ls.idlistaEmpleadoSolicitud}">Borrar</a></td>
				</tr>     
                    </table> 
                </div>
                
                <!-- Division Modal -->
	<div id="modalDelete" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Borrar Solicitud</h4>
				</div>
				<div class="modal-body">
					<p>Seguro de eliminar esta registro??</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button id="btnDelete" class="btn btn-danger">
						<span class="glyphicon glyphicon-trash"></span>Borrar</button>
				</div>
			</div>
		</div>
	</div>


	<!-- Funcion JavaScript que recupera el valor del id y lo envia a la URL: /../delete/ del controller-->
	<script type="text/javascript">
		$(function() {
			var idEntidad = null;

			$('.linkDelete').on('click', function(e) {
				e.preventDefault();
				$('#modalDelete').modal();
				idEntidad = $(this).attr('id');
			});

			$('#btnDelete').on('click', function() {
				location.href = "/solicitudEliminar/" + idEntidad;
			});
		});
	</script>
                </section>
        <br/>
	<br/>
	<th:block th:include="fragments/down :: down"></th:block> 
</body>
</html>