<!DOCTYPE html>
<html>
<head>
<title>Configuracion</title>
<th:block th:include="fragments/stylesheader :: head"></th:block>
</head>
<body>
	<div class="container">
	<!-- Incluyo el fragmento header donde se encuentra el nav(menu) -->
    <th:block th:include="fragments/headerUsuario :: headerUsuario"></th:block>
    </div>
	<br/>
	<br/>
	<div id="main_content" style="padding: 15px;">
	<div class="page-header">
	        <h1>Configuracion</h1>
        </div>
            <form action="SCliente" method="POST" >
                <center>
                    <table>
                        <tr>
                            <td style="padding: 10px;">Nombre:</td>
                            <td><input type="text" name="nombre" class="form-control" value="" required="required"/></td>
                        </tr>
                        <tr>
                            <td style="padding: 10px;">RUC:</td>
                            <td><input type="text" name="ruc" class="form-control" value="" required="required"/></td>
                        </tr>
                        <tr>
                            <td style="padding: 10px;">Telefono:</td>
                            <td><input type="number" name="telefono" class="form-control" value="" minlength="9" maxlength="12" required="required"/></td>
                        </tr>
                        <tr>
                            <td style="padding: 10px;">Celular:</td>
                            <td><input type="number" name="celular" class="form-control" value="" minlength="9" maxlength="12" required="required"/></td>
                        </tr>
                        <tr>
                            <td style="padding: 10px;">Direccion:</td>
                            <td><input type="text" name="direccion" class="form-control" value="" required="required"/></td>
                        </tr>
                        <tr>
                            <td style="padding: 10px;">Hora Inicio:</td>
                            <td><input type="number" name="horaInicio" class="form-control" value="" minlength="1" maxlength="2" required="required"/></td>
                        </tr>
                        <tr>
                            <td style="padding: 10px;">Hora Final:</td>
                            <td><input type="number" name="horaFinal" class="form-control" value="" minlength="1" maxlength="2" required="required"/></td>
                        </tr>
                        <tr>
                            <td style="padding: 10px;">Correo:</td>
                            <td><input type="email" name="correo" class="form-control" value="" required="required"/></td>
                        </tr>
                        <tr>
                            <td style="padding: 10px;">Descripcion:</td>
                            <td><input type="text" name="descripcion" class="form-control" value="" required="required"/></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <center>
                                <input type="submit" name="action" value="Guardar Configuracion" class="btn btn-success" />
                                </center>
                            </td>
                        </tr>
                    </table>
                </center>
            </form>
	</div>
</body>
</html>