<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Crear Perfil</title>
<th:block th:include="fragments/stylesheader :: head"></th:block>
</head>
<body>
	<div class="container">
	<!-- Incluyo el fragmento header donde se encuentra el nav(menu) -->
    <th:block th:include="fragments/header :: header"></th:block>
    </div>
	<br/>

	 <div class="container" style="padding-top: 30px">
		<div class="page-header">
	        <h1>Seleccione el perfil que desea agregar</h1>
	    </div>
	    <div class="row">
	    	<div class="col-md-12">
                
                
                </div>
	        </div>
	     </div>
        
        <br/>
	<br/>
	<div class="container">
	<!-- Incluyo el fragmento header donde se encuentra el nav(menu) -->
    <th:block th:include="fragments/down :: down"></th:block>
    </div>
                
        
        
    </body>
</html>
