<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Datos</title>
<th:block th:include="fragments/header :: head"></th:block>
<th:block th:include="fragments/down :: down"></th:block>
</head>
<body>
	<div class="container">
	<!-- Incluyo el fragmento header donde se encuentra el nav(menu) -->
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    </div>
	<br/>
	
	<div id="main_content" class="page-header" style="padding: 15px">
		<h1>Datos de la pagina</h1>
                <hr>
	
        	<!--CLIENTE-->
                    <div class="tab-pane fade in active" id="tab1">
                    	<div id="main_content_info">
							<div class="container">
							    <h1>¿Quienes somos?</h1>
							    <div class="boxbg" >
                                                                <h3>
                                                                            <td><label><b>Ofrecemos una aplicacion web para que las personas puedan encontrar un oficio
                                                                                    de forma rapida y dinamica.</b></label></td>
							        </h3>
                                                            </div>
                                                            <br>
                                                            <h1>Vision</h1>
							    <div class="boxbg" >
                                                                <h3>
                                                                            <td><label><b>Nuestra vision es hacer negocios, crear oportunidades, innovar junto al país y emprender
                                                                                       las labores de oficios.</b></label></td>
							        </h3>
                                                            </div>
                                                             <br>
                                                            <h1>Mision</h1>
							    <div class="boxbg" >
                                                                <h3>
                                                                            <td><label><b>Brindarles facilidades y soporte a empresas para que puedan ser reconocidas y que de esta manera
                                                                                        lleguen a mas clientes.</b></label></td>
							        </h3>
                                                            </div>
                                                            <br>
                                                            <h1>¿Que ofrecemos?</h1>
							    <div class="boxbg" >
                                                                <h3>
                                                                            <td><label><b>Diversos tipos de oficios para cada usuario que tenga un problema tecnico o 
                                                                                    en su hogar.</b></label></td>
							        </h3>
                                                            </div>
                                                            <br>
                                                            <h1>¿Como trabajamos?</h1>
							    <div class="boxbg" >
                                                                <h3>
                                                                            <td><label><b>Nosotros nos asociamos con las empresas para que ellos presenten a los clientes, las especialidades
                                                                                    que van a ofrecer sus empleados.</b></label></td>
							        </h3>
                                                            </div>
                                                            
                                                            
                                                            
			
							    
							</div>
						</div>
                    </div>
                    </div>
                    <br/>
	<br/>
	<br/>
	<div class="container">
	<!-- Incluyo el fragmento header donde se encuentra el nav(menu) -->
    <!--/*/ <th:block th:include="fragments/down :: down"></th:block> /*/-->
    </div>
                
                
</body>
</html>