<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Buscar Servicio</title>
<th:block th:include="fragments/stylesheader :: head"></th:block>
</head>
<body>
	<!-- Incluyo el fragmento header donde se encuentra el nav(menu) -->
    <th:block th:include="fragments/header :: header"></th:block>
 	<section class="welcome_area clearfix" id="home" style="background-image: url(img/bg-img/welcome-bg.png)">
	<br/><br/><br/><br/>

	 <div id="main_content_contactenos" class="page-header" style="padding: 15px">
		<div class="container" style="padding-top: 30px">
	        <h1>Buscar Servicio</h1>
	   </div>
        
           
           
        
        </div>

        
        
        </section>
        <br/>
	<br/>
	<th:block th:include="fragments/down :: down"></th:block>    
        
    </body>
</html>
