<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Acerca de Nosotros</title>
<th:block th:include="fragments/header :: head"></th:block>
<th:block th:include="fragments/down :: down"></th:block>
</head>
<body>
	<div class="container">
	<!-- Incluyo el fragmento header donde se encuentra el nav(menu) -->
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    </div>
	<br/>

	<div id="main_content_contactenos" class="page-header" style="padding: 15px">
		
	        <h1>Acerca de Nosotros</h1>
	   <hr>
            <div class="row">
	    	<div class="col-md-12">
                         
                    <div id="main_content">
			<div class="container">
							    <div class="boxbg" >
							        <form id="client_form">
							        
                                                                        <h2>
                                                                            <td><label><b>Contacto:</b></label></td>
							        	</h2>
							        	<br>
                                                                        <div>
							        		<td><label>■    easyservices@services.com</label></td>
							        	</div>
                                                                        <br>
							        	<div>
							        		<td><label>■    (01) 465-1584</label></td>
							        	</div>
                                                                        <br>
							        	<div>
							        		<td><label>■    Calle Santa Luisa 354, piso 1, San Isidro, Lima</label></td>

							        	</div>
                                                                        <br>
                                                                        <h2>
                                                                            <td><label><b>Cotizacion de servicios: </b></label></td>
							        	</h2>
							        	<br>
							        	<div>
							        		<td><label>■    (01) 465-5491</label></td>
							        	</div>
                                                                        <br>
							        	<div>
							        		<td><label>■    (01) 465-9846</label></td>
							        	</div>
                                                                        <br>
                                                                        <h2>
                                                                            <td><label><b>Oportunidades laborales: </b></label></td>
							        	</h2>
                                                                        <br>
							        	<div>
							        		<td><label>■    esperu@services.com</label></td>
							        	</div>
							        <hr>
							        <center>
							        	<td><label>Gracias por su visita!</label></td>
							        </center>
							        </form>
							    </div>
							</div>
						</div>
                    
                    
                    
                </div>
            </div>
        </div>
        
        
        <br/>
	<br/>
	<br/>
	<div class="container">
	<!-- Incluyo el fragmento header donde se encuentra el nav(menu) -->
    <!--/*/ <th:block th:include="fragments/down :: down"></th:block> /*/-->
    </div>
                
        
        
    </body>
</html>
