<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Ubicanos</title>
<th:block th:include="fragments/header :: head"></th:block>
<th:block th:include="fragments/down :: down"></th:block>
</head>
<body>
	<div class="container">
	<!-- Incluyo el fragmento header donde se encuentra el nav(menu) -->
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    </div>
	<br/>

	 <div id="main_content_contactenos" class="page-header" style="padding: 15px">
		
	        <h1>Ubiquenos</h1>
	   
        
           
           
        
        </div>

        
        
        <br/>
	<br/>
	<div class="container">
	<!-- Incluyo el fragmento header donde se encuentra el nav(menu) -->
    <!--/*/ <th:block th:include="fragments/down :: down"></th:block> /*/-->
    </div>
                
        
        
    </body>
</html>
