<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Easy Services</title>


</head>
<body>
	<div class="container">
	<!-- Incluyo el fragmento header donde se encuentra el nav(menu) -->
    <th:block th:include="fragments/header :: header"></th:block>
    </div>
	<br/>

	<div id="main_content" style="padding: 15px">
		<h1>BIENVENIDOS AL PORTAL DE OFICIOS</h1>
	</div>
	<!--CLIENTE-->
	<div class="tab-pane fade in active" id="tab1">
		<div id="main_content_info">
			<div class="container">
				<h1>Ultimas novedades</h1>
				<div class="boxbg">
					<h3></h3>
				</div>
				<h1>Registrate rapidamente!</h1>
				<div class="boxbg">
					<h3></h3>
				</div>
				<h1>Califica a las empresas</h1>
				<div class="boxbg">
					<h3></h3>
				</div>
				<h1>Resuelve tu problema!</h1>
				<div class="boxbg">
					<h3></h3>
				</div>
				<h1>Disponemos de una gama amplia de servicios</h1>
				<div class="boxbg">
					<h3></h3>
				</div>
			</div>
		</div>
	</div>
<br/>
	<br/>
	<br/>
	<div class="container">
	<!-- Incluyo el fragmento header donde se encuentra el nav(menu) -->
    <th:block th:include="fragments/down :: down"></th:block>
    </div>
                
        
        
    </body>
</html>