<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>EasyServices</title>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<th:block th:include="fragments/stylesheader :: head"></th:block>
</head>
<body>
	<th:block th:include="fragments/header :: header"></th:block>

	<!-- ***** Service Area Start ***** -->
	<section align="center"
		class="mosh-clients-area section_padding_100 clearfix">

		<div class="section-heading text-center mb-0">
			<h2>Bienvenido a Easy Services</h2>
		</div>
		<img alt="" src="../img/logopr.png" />
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section-heading text-center mb-0">
						<h2>Rapido, Seguro y Eficiente</h2>
					</div>
					<hr style="border: 50px;" />
					<div class="section-heading text-center mb-0">
						<h2>¿Como Funciona?</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="workflow-img">
			<img src="../img/core-img/work-progress.png" alt="" />
		</div>

		<div class="workflow-slides-area">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="mosh-workflow-slides owl-carousel">
							<!-- Single Service Area -->
							<div class="single-workflow-area d-flex">
								<h2>1.</h2>
								<div class="workflow-content ml-15">
									<h4>Buscar el servicio</h4>
								</div>
							</div>
							<!-- Single Service Area -->
							<div class="single-workflow-area d-flex">
								<h2>2.</h2>
								<div class="workflow-content ml-15">
									<h4>Crea una solicitud</h4>
								</div>
							</div>
							<!-- Single Service Area -->
							<div class="single-workflow-area d-flex">
								<h2>3.</h2>
								<div class="workflow-content ml-15">
									<h4>Recibe la atencion</h4>
								</div>
							</div>
							<!-- Single Service Area -->
							<div class="single-workflow-area d-flex">
								<h2>4.</h2>
								<div class="workflow-content ml-15">
									<h4>Califica</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ***** Service Area End ***** -->
	<th:block th:include="fragments/down :: down"></th:block>


</body>

</html>