<!DOCTYPE html>
<html>
<head>
<title>Perfiles</title>
<th:block th:include="fragments/stylesheader :: head"></th:block>
</head>
<body>
	<!-- Incluyo el fragmento header donde se encuentra el nav(menu) -->
	<th:block th:include="fragments/headerUsuario :: headerUsuario"></th:block>
	<section class="mosh-features-area section_padding_100">
		<div class="container" style="padding-top: 30px">
			<div class="page-header">
				<div class="container" style="padding-top: 30px">
					<h1>Perfiles</h1>
				</div>
			</div>
			<div class="row" align="center">
				<div class="col-sm-3" align="center" th:each="p : ${useraux}">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title" th:text="${p.nomPerfil}"></h5>
							<a th:href="@{${p.accion}}"> <img th:src="${p.recurso}" th:style="'width=484'"/>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<th:block th:include="fragments/down :: down"></th:block>
</body>
</html>