<!DOCTYPE html>
<html>
<head>
<title>Perfiles</title>
<th:block th:include="fragments/stylesheader :: head"></th:block>
</head>
<body>
	<div class="container">
		<!-- Incluyo el fragmento header donde se encuentra el nav(menu) -->
		<th:block th:include="fragments/headerUsuario :: headerUsuario"></th:block>
	</div>
	<br />
	<br />
	<h1>Perfiles</h1>
	<tr th:each="c : ${listaperfiles}">
		<h1 th:text="${c}"></h1>
	</tr>
	<div class="container" style="padding-top: 30px">
		<div class="page-header">
			<h1>Perfiles Cliente</h1>
		</div>
		<table border="0" class="table table-hover">
			<tr>
				<th>Id</th>
				<th>Ingresar</th>
			</tr>
		</table>
	</div>
	<div class="container" style="padding-top: 30px">
		<div class="page-header">
			<h1>Perfiles Empresa Compañia</h1>
		</div>
		<table border="0" class="table table-hover">
			<tr>
				<th>Id</th>
				<th>Ingresar</th>
			</tr>
		</table>
	</div>
	<div class="container" style="padding-top: 30px">
		<div class="page-header">
			<h1>Perfiles Empresa Independiente</h1>
		</div>
		<table border="0" class="table table-hover">
			<tr>
				<th>Id</th>
				<th>Ingresar</th>
			</tr>
		</table>
	</div>
	<div class="container" style="padding-top: 30px">
		<div class="page-header">
			<h1>Perfiles Empleado</h1>
		</div>
		<table border="0" class="table table-hover">
			<tr>
				<th>Id</th>
				<th>Ingresar</th>
			</tr>
		</table>
	</div>
	<div class="container" style="padding-top: 30px">
		<div class="page-header">
			<h1>Perfiles Administrador</h1>
		</div>
		<table border="0" class="table table-hover">
			<tr>
				<th>Id</th>
				<th>Ingresar</th>
			</tr>
		</table>
	</div>
</body>
</html>