<!DOCTYPE html>
<html>
<head>
<title>Easy Services</title>
<th:block th:include="fragments/stylesheader :: head"></th:block>
</head>
<body>
	<!-- Incluyo el fragmento header donde se encuentra el nav(menu) -->
    <th:block th:include="fragments/headerUsuario :: headerUsuario"></th:block>
 	<section class="mosh-features-area section_padding_100 clearfix" >
	<br/><br/><br/><br/>
	
	<!-- SEARCH DOM -->
		<div id="container">
		<div>
			<h2>Bienvenido <h2 th:text="${usersession.nombreCompleto}">!</h2></h2>
			<h4>Tu Resumen:</h4>
			</div>
			<table border="0" class="table table-hover">
				<tr>
					<th>Total de perfiles</th>
					<th>Total servicios pendientes</th>
					<th>Total servicios atendidos</th>
					<th>Total</th>
				</tr>
				
			</table>
			<table class="table table-striped">
			<tr th:each="p : ${nombre}">
				<th th:text="${p[0][1]}">Id</th>

			</tr>
			<tr th:each="p : ${nombre}">
				<td th:text="${p[0][0]}">Id</td>
			</tr>
		</table>
		</div>
		<div id="div_ayuda">
			<h3>Información de ayuda:</h3>
			<p>-<label>"Buscar Servicio":</label> En esta pestaña encontraras los servicios que necesites y quieres sacar una consulta.</p>
			<p>-<label>"Mis Servicios":</label> En esta pestaña podras ver el estado de tus servicios, si estos fueron atendidos o si todavia no lo fueron.</p>
			<p>-<label>"Configuración:"</label> En esta pestaña podras editar opciones de tu perfil como: contraseña, correo electronico, telefono, direccion, etc.</p>
		</div>


</section>
        <br/>
	<br/>
	<th:block th:include="fragments/down :: down"></th:block>

</body>
</html>