<!DOCTYPE html>
<html>
<head>
<title>Preguntas</title>
<th:block th:include="fragments/stylesheader :: head"></th:block>
</head>
<body>
	<!-- Incluyo el fragmento header donde se encuentra el nav(menu) -->
    <th:block th:include="fragments/headerUsuario :: headerUsuario"></th:block>
 	<section class="welcome_area clearfix" id="home" style="background-image: url(img/bg-img/welcome-bg.png)">
	<br/><br/><br/><br/>
	
	<div class="container" style="padding-top: 30px">
		<div class="page-header">
		<div class="container" style="padding-top: 30px">
	        <h1>Preguntas</h1>
	        </div>
                </div>                 
                  <table border="0" class="table table-hover">
				<tr>
					<th>Nombre</th>
					<th>Motivo</th>
					<th>Descripcion</th>
                                        <th>Respuestas</th>
                                        
				</tr>
                
                    </table>
                  
                </div>
                </section>
        <br/>
	<br/>
	<th:block th:include="fragments/down :: down"></th:block>
</body>
</html>