<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="es">
</head>
<body>
<body>
	<div th:fragment="headerCliente">
		<!-- ***** Preloader Start ***** 
    <div id="preloader">
        <div class="mosh-preloader"></div>
    </div>
    -->

		<!-- ***** Header Area Start ***** -->
		<header class="header_area clearfix">
			<div class="container-fluid h-100">
				<div class="row h-100">
					<!-- Menu Area Start -->
					<div class="col-12 h-100">
						<div class="menu_area h-100">
							<nav class="navbar h-100 navbar-expand-lg align-items-center">
								<!-- Logo -->
								<li><a class="navbar-brand" href="#" th:href="@{/}"><img
										src="../img/logopr.png" alt="logo" width="75" /></a></li>
								<ul class="navbar-nav animated" id="nav">
									<li class="nav-item"><a class="nav-link"
										th:text="${'Bienvenido '+usersession.nombreCompleto}"></a></li>
								</ul>
								<!-- Menu Area -->
								<button class="navbar-toggler" type="button"
									data-toggle="collapse" data-target="#mosh-navbar"
									aria-controls="mosh-navbar" aria-expanded="false"
									aria-label="Toggle navigation">
									<span class="navbar-toggler-icon"></span>
								</button>

								<div class="collapse navbar-collapse justify-content-end"
									id="mosh-navbar">
									<ul class="navbar-nav animated" id="nav">
										<li class="nav-item"><a class="nav-link" href="#"
											th:href="@{/clienteBuscarServicio}">Buscar Servicio</a></li>
										<li class="nav-item"><a class="nav-link" href="#"
											th:href="@{/cliente_miservicios.html}">Mis servicios
												contratados</a></li>
										<li class="nav-item"><a class="nav-link" href="#"
											th:href="@{/cliente_configuracion.html}">Configuracion</a></li>
										<li class="nav-item"><a class="nav-link" href="#"
											th:href="@{/usuario_perfiles}">Regresar</a></li>

									</ul>
									<!-- Search Form Area Start -->
								</div>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</header>
	</div>
</body>
</body>
</html>