<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="eces">
<!--Author: HAMP -->
	<!-- En este fragmento solo coloco los CSS y JS de bootstrap y jquery-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- StyleCSS -->
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen" />

 	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />

	<!-- ScriptJS -->
 	<script src=".../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
 	<script src=".../static/js/datatable.js" th:src="@{/js/datatable.js}"></script>
 	<script src=".../static/js/jquery-3.2.1.js" th:src="@{/js/jquery-3.2.1.js}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	
</head>
<body>  
<div th:fragment="headerIndependiente">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/independiente_sesion.html}"><b>Perfil Independiente</b></a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class=""><a href="#" th:href="@{/independiente_miservicios.html}">Mis Servicios</a></li>
					<li class=""><a href="#" th:href="@{/independiente_servicios.html}">Servicios</a></li>
					<li class=""><a href="#" th:href="@{/independiente_configuracion.html}">Configuracion</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
                    <li class=""><a href="#" th:href="@{/usuario_sesion.html}">Regresar</a></li>
				</ul>
				
			</div><!--/.navbar-collapse -->
		</div>
	</nav>
</div>
</body>
</html>