<!DOCTYPE html>
<html>
<head>
<title>Insert title here</title>
	<!-- En este fragmento solo coloco los CSS y JS de bootstrap y jquery-->
    <meta charset="UTF-8"/>
    <meta name="description" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>EasyServices - Mosh Creative Business Template | Home</title>

    <!-- Favicon -->
    <link href="../static/img/core-img/favicon.ico" th:href="@{/img/core-img/favicon.ico}" rel="stylesheet" media="screen" />
   
    <!-- Core Stylesheet -->
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" media="screen" />    

    <!-- Responsive CSS -->
    <link href="../static/css/responsive.css" th:href="@{/css/responsive.css}" rel="stylesheet" media="screen" />
    
    <!-- Responsive CSS -->
    <link href="../static/css/dataTables.bootstrap4.min.css" th:href="@{/css/dataTables.bootstrap4.min.css}" rel="stylesheet" media="screen" />
	<script>
		function closeSession() {
			window.location.href="index.html";
		}
	</script>
</head>
<body>

</body>
</html>